.hidden
{
    display:none;
}

table{


    border:solid black 1px;
}

tr:hover{

 background-color: gainsboro;

}
#table_section
{
 background-color:rgb(199, 221, 229);

width: 800px;

}
#charts_section
{
    width: 500px;
    height: 500px;
  

}

thead{


    background-color: lightblue;
}
body{
    padding-left:80px;
    margin-top:50px;
    background-color: gainsboro;
    
    margin-left:0px;
    width:100vw;
    align-items: center;
    transform:translateX(-17px);
    height:100vh;

}
table{
    background-color: white;
}
h1 
{
    margin-top:0px;
}
div .chart_use
{

    background-color: white;
}