

table{


    border:solid black 1px;
}

tr:hover{

 background-color: gainsboro;

}
#table_section
{
 background-color:rgb(199, 221, 229);

width: 800px;

}
#charts_section
{
    width: 500px;
    height: 500px;
  

}

thead{


    background-color: lightblue;
}
body{
    padding-left:50px;
    margin:0px 0px 0px 0px;
    background-color: gainsboro;
}
table{
    background-color: white;
}
h1 
{
    margin-top:0px;
}
div .chart_use
{

    background-color: white;
}