







<body>
<nav class = "navbar navbar-default navbar-static-top" role = "navigation">

<button><a routerLink="/home"><i class="fa fa-home"></i> Home </a></button>
<button><a routerLink="/signin"><i class="fa fa-sign-in"></i>
    Sign In</a></button>
<button><a routerLink="/login"><i src="src\OIP.jpg"></i>Log In</a></button>
<button (click)="logoff()" id="lo">Log Out</button>
<button class="hidden" id="user"> <a routerLink="/user" class="fa  fa-user">User Page</a></button>
<button class="hidden" id="admin"><a routerLink="/admin"><i class="fa  fa-user"></i> Admin Page</a></button>

</nav>
</body>