
nav{
  
    
    background-color: rgb(41, 99, 216);
    display:flex;
    justify-content: flex-end;
    width:99.3vw;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    padding-right:10px;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 2;
 
    }
    body{

        margin:0px 0px 0px 0px;
    }
  
    nav button{
        height:50px;
       
    }
    button
    {
        background-color: rgb(41, 99, 216);
        color:white;
        border:none


    }
    button:hover{

        color:rgb(62, 207, 223)
     
    }

    a{


        color:white;
        text-decoration:none;
    }
    a:hover{

    
     color:rgb(62, 207, 223)
    
    }




    .hidden
{
    display:none;
}
.girl
{

background-color:rgb(212, 3, 3);

}