
<body>
<H1>Welcome to Energy Platform</H1>

<div>
    <h2>About us</h2>
    <p>We are an aplication for smart devices energy management</p>
    <p>Here  you can see the energy of your devices on an hourly basis , for every day of the year</p>
    

</div>
<div>
<h2>Contact</h2>
<p>If you want to find us please leave us your email and comment and we will contact you< as soon as possible</p>
<form>
    <p>Name</p>
    <input type="text">
    <br>
    <p>Email</p>
    <input type="text">
    <br>
    <p>Telephone</p>
    <input type="text">
    <br>
    <p>Comments</p>
    <textarea>
    </textarea> 
   <br>
    <button>Submit </button>
</form>


</div>
</body>