
.hidden
{
    display:none;
}

label { 
        float:left
        ;}
#valid
{
    color:green
}

.invalid
{
    color:red
}
body{
    margin-left:40%;
    margin-top: 50px;
    
}
button{
    background-color: rgb(61, 51, 190);
    color:white;
    width: 100px ;
    height: 50px;
    border-radius: 5px 5px;
   }

   input[type="text"] 
   {
    float:right


   }
   input[type="password"] 
   {
    float:right

   }
   input[type="radio"] 
   {
    float:right


   }


   input[type="submit"]
   {

    background-color: rgb(61, 51, 190);
    color:white;
    width: 100px ;
    height: 50px;
    border-radius: 5px 5px;
    margin-right:20px;
  

   }
   button:hover{
    background-color: rgb(184, 218, 238);
  
   }
   input:hover
   {
    background-color:rgb(186, 222, 244);

   }
 

a
{


    color:white;
    text-decoration:none
}
#errors
{
    color:red;

}

form{

    width:300px;
}

