
    <body>

        <h1>Reset Password!</h1>

         <H3>In order to reset your password tell us your username and new Password</H3>
        <br>
        <p id="msg"></p>
        <br>
        <form>
            <input type="text" id="username" placeholder="Username">
            <br>
            <br>
            <input type="text" id="pass" placeholder="New Password">
            <br>
            <br>
            <button (click)="reset_password()">Send</button>
        </form>
        

    </body>